.categoryheader {
    padding: 16px;
    display: flex;
    flex-direction: row;
}

.categorysection {
  > div {
    padding-left: 0;
  }
}

.hide-pencil {
  visibility: hidden;
}

@media only screen and (max-width: 768px){
    .categoryheader {
      flex-direction: column;
      align-items: start;
      padding: 0;
    }
  }