.users-list {
    padding: 50px 20px;
}
.credit-pool-balance {
    background-color: #5F7CC9;
    height: 32px;
    border-radius: 5px;
    padding: 5px 10px;
    width: max-content;
    color: white;
    margin-top: 10px;
}

.loader-center {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}